<a href="https://colab.research.google.com/github/Sharandeep02/python-basics/blob/master/lists%2Ctuples%2Csets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
courses=['MECH','CIVIL','EEE','ECE','CSE']
print(courses)#to print the values of list
print(len(courses))#to print the length of the list
print(courses[0])#to access the element of a list with a specified index,the index value starts from 0
print(courses[-1])#we can access the elements of the list with the negative index also,its stats from last with -1
#slicing operations
print(courses[0:3])#to access the elements the list to a particular range,the starting index is inclusive and the ending index is exclusive 
print(courses[:2])#if u are not specifying the starting index it defaultly starts from '0' 
print(courses[0:])#if u are specifiying the eding of the index it goes till the end of the list

['MECH', 'CIVIL', 'EEE', 'ECE', 'CSE']
5
MECH
CSE
['MECH', 'CIVIL', 'EEE']
['MECH', 'CIVIL']
['MECH', 'CIVIL', 'EEE', 'ECE', 'CSE']

In [24]:
#list opertaions to add the elements 
courses.append('CST')
print(courses)
courses.insert(0,'IT')
print(courses)
courses02=['ART','EDUCATION']
courses.extend(courses02)
print(courses)

['MECH', 'CIVIL', 'EEE', 'ECE', 'CSE', 'CST']
['IT', 'MECH', 'CIVIL', 'EEE', 'ECE', 'CSE', 'CST']
['IT', 'MECH', 'CIVIL', 'EEE', 'ECE', 'CSE', 'CST', 'ART', 'EDUCATION']

In [31]:
#list operations to remove the elements
print(courses)
courses.remove('IT')
courses.pop()
print(courses)
popped=courses.pop()
print(popped)

['IT', 'MECH', 'CIVIL', 'EEE', 'ECE']
['MECH', 'CIVIL', 'EEE']
EEE

In [41]:

names=['anu','roja','kishore','bhanu']
names.sort()#to sort list in alphabetical order 
print(names)
names.reverse()#to reverse the existing list
print(names)
print(names.index('anu'))#to find the index of a particular string in a list 
print('sharan' in names)#to check the given string is present in the list or not it returns true if present or false if not
nums=[54,26,89,61,109]
nums.sort()#it sorts the list in  ascending order
print(nums)
nums.sort(reverse=True)#it reverse the number list if we pass reverse as an argument to sort method
print(nums)
print(max(nums))#to print the maximum value of list
print(min(nums))#to print the minminjum value of list
print(sum(nums))#to print the sum of numbers present in the list

['anu', 'bhanu', 'kishore', 'roja']
['roja', 'kishore', 'bhanu', 'anu']
3
False
[26, 54, 61, 89, 109]
[109, 89, 61, 54, 26]
109
26
339

In [45]:
for i in nums:#to print all the values present in the list
  print(i) 
for index,name in enumerate(names): #to print the values present the list with their indices
  print(index,name)
for index,name in enumerate(names,start=1) :#to print the values present the list with their a given specified index 
  print(index,name)

109
89
61
54
26
0 roja
1 kishore
2 bhanu
3 anu
1 roja
2 kishore
3 bhanu
4 anu
ERROR! Session/line number was not unique in database. History logging moved to new session 62