<a href="https://colab.research.google.com/github/Sharandeep02/python-basics/blob/master/sorting_of_list%2Ctuple%2Cdict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#sorting of list 
l1=[5,6,4,2,9,8,1,3,7]
s_l1=sorted(l1)
print("sorted list:\t",s_l1)
print("original list:\t",l1)
#we can use in built for sorting a list
l1.sort()
print("sorted by using inbuilt function:\t",l1)
#one difference between the sorting explictily is when we do it explictly is return a new list
#but when we do it by using inbuilt function it will sort in the same list itself


#to sort in desecnding order
s_l1=sorted(l1,reverse=True)
print("sorted in desecnding order :\t",s_l1)
#we can sort in desecnding order by sort method
l1.sort(reverse=True)
print("sorted by using inbuit function:\t",l1)

sorted list:	 [1, 2, 3, 4, 5, 6, 7, 8, 9]
original list:	 [5, 6, 4, 2, 9, 8, 1, 3, 7]
sorted by using inbuilt function:	 [1, 2, 3, 4, 5, 6, 7, 8, 9]
sorted in desecnding order :	 [9, 8, 7, 6, 5, 4, 3, 2, 1]
sorted by using inbuit function:	 [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [0]:
#tuple doesnt have sort method, if we try to sort by using the method it will throw error
tup=(5,4,8,2,1,3,6,9,7)
tup1=sorted(tup)
print(tup1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
#sorting a dictionary
di={'name':'sharan','age':'20','profession':'student'}
d=sorted(di)#it defaultly sort the dictionary by keys
print(d)

['age', 'name', 'profession']

In [5]:
#if we neagative values in the list it sorts accordingly by negative first
#example
s=[1,2,3,-6,-5,-4]
d=sorted(s)
print(d)
#but if we want to sort by number with out any difference to symbol we use a key parameter
s=[1,2,3,-6,-5,-4]
d=sorted(s,key=abs)#abs=absolute value function is extremly use when sorting objects with named attribute  
print(d)

[-6, -5, -4, 1, 2, 3]
[1, 2, 3, -4, -5, -6]

In [11]:
class employee():
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary
  def __repr__(self):
    return'({},{},${})'.format(self.name,self.age,self.salary)
     
e1=employee('sharan',30,40000)
e2=employee('tharun',25,35000)
e3=employee('varun',25,30000)
employees=[e1,e2,e3]
#to sort the employes by name by using sort method it will throw an errror
#so we use a key parameter to sort this
def e_sort(emp):
  return emp.name
s_employee=sorted(employees,key=e_sort)
print(s_employee)
#we can even sort by the ages,salaries by passing the different parameters

[(sharan,30,$40000), (tharun,25,$35000), (varun,25,$30000)]