<a href="https://colab.research.google.com/github/Sharandeep02/python-basics/blob/master/tuples%2Csets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Tuples are same as list but the main difference is tuples are immutable where as list are mutable
#As tuples are immutable they dont have many methods as list but we can access and loop through the elements same as list
#we cant sort the tuples as they are immutable.
tuple_1=('BTech','MTech','MBA','MCA')
tuple_2=tuple_1
print(tuple_1)
print(tuple_2)

('BTech', 'MTech', 'MBA', 'MCA')
('BTech', 'MTech', 'MBA', 'MCA')

In [5]:
#sets are =same as list and tuples but we use curly bracecs for sets
#The main difference between the list and sets are they return the values with out following any order evrey time we run
set_1={'bhavana','joshna','harsha','sharan'}
set_2={'tharun','sharan','varun','sravan','harsha'} 
print(set_1)
print(set_2)#printing the sets
print(set_1.intersection(set_2))#to print the common elements presnt  in the two sets
print(set_1.difference(set_2))#to print the odd elements in the to sets 
print(set_1.union(set_1))#to print the two sets into one set with out any common elemments

{'joshna', 'bhavana', 'sharan', 'harsha'}
{'tharun', 'sharan', 'sravan', 'varun', 'harsha'}
{'sharan', 'harsha'}
{'joshna', 'bhavana'}
{'joshna', 'bhavana', 'sharan', 'harsha'}

In [0]:
#we can create empty list , tuples in two ways by using the respective parenthesis or by using the respective classes
#To create empty list 
#empty_list=[],1st way to create empty list by using [] parenthesis
#empty_list=list(),2nd way by using the list class
#empty_tuple=() 
#empty_tuple=tuple()
# we cant use parenthesis to create sets ,we can create sets only by using the set class 
#empty_set=set()